<component name="ArtifactManager">
  <artifact type="jar" build-on-make="true" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="archive" name="UdpTlsAsioProject.jar">
      <element id="module-output" name="UdpTlsAsioProject" />
    </root>
  </artifact>
</component>